.mobile-login{
  background-color:#FED06E;
  height: 100vh;
}

.mobile-login-content{
	position:fixed;
  width: 300px;
  height: 500px;
  background-color: #ffe09d;
  border-radius: 25px;
  top:300px;
  left:50vw;
  margin:-200px 0 0 -150px;
  box-shadow: 0 10px 10px -5px rgb(68, 68, 68);
}

.login-logo{
  margin:0px 90px;
  padding: 20px 0;
  height: 180px;

  animation-name: logo;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes logo {
  from {
    padding-top: 15px;
  }
  60% {
    padding-top: 25px
  }
  to {
    padding-top: 30px;
  }
}

.login-title{
  margin:10px 20px 20px 40px;
}


/*로그인*/
.login_warp {
  position: absolute;
  color: #414141;
  box-sizing: border-box;
  top: 200px;
  width : 440px;
}


/*login_content*/
.login_items{
  width: 300px;
  height:75px;
}
.login_text{
  line-height: 14px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  margin:2px 40px;
  width:440px;
  word-break:keep-all;
}
.text_bar{
  display:inline-block;
  width:120px;
  padding: 0 10px;
  border-left: 2px solid #414141;
}
.text_bar.fail {
  border-left: 2px solid #FF0000;
}
.textinput {
  border:none;
  outline: none;
  background: transparent;
  color:#414141;
  font-size: 14px;
  margin: 12px 16px;
}
.login_content {
  float:left;
  width: 240px;
  height: 35px;
  margin: 5px 28px;
  line-height: 40px;
  border: 2px solid #414141;
  border-radius: 10px;
  color:#414141;
}
.login_content.fail {
  color : #FF0000;
  border: 2px solid #FF0000;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.login_btn{
  position:absolute;
  left: 55px;
  bottom: -40px;
  width: 180px;
  height: 35px;
  background: #FFFFFF;
  border-radius: 6px;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 29px;
  color: #414141;
  cursor: pointer;
}
.login_btn.fail {
  color : #FF0000;
  border: 2px solid #FF0000;
  background: #FFFFFF;
}

.goto{
  width: 300px;
  text-align: center;
  position:fixed;
  top:600px;
  left:50%;
  margin-left:-150px;
}
.goto-auth{
  margin: 20px;
  font-weight: 1000;
  color: #414141;
  border: none;
  background-color: inherit;
  text-decoration: underline;
}


.goto-main{
  margin: 0 20px;
  font-weight: 1000;
  color: #414141;
  border: none;
  background-color: inherit;
  text-decoration: underline;
}