.auth{
  background-color:#FED06E;
  height: 100vh;
  overflow:hidden !important;
}
.auth-contents{
  width: 300px;
  height: 500px;
  background-color: #ffe09d;
  border-radius: 25px;
  position:absolute;
  top:330px;
  left:50%;
  margin:-200px 0 0 -150px;
  box-shadow: 0 10px 10px -5px rgb(68, 68, 68);
  z-index: 2;
  overflow-y: hidden;
}
.auth-content-scroll{
  width: 300px;
  height: 470px;
  position:absolute;
  top:0px;
  left:50%;
  margin:15px 0 0 -150px;
  z-index: 2;
  overflow-x: hidden;
}
.auth-content-scroll::-webkit-scrollbar {
  width: 8px;
}

.auth-content-scroll::-webkit-scrollbar-thumb {
  height: 30%;
  background: rgba(92, 92, 92, 0.4);
  border-radius: 10px;
}

.auth-content-scroll::-webkit-scrollbar-track {
  background: rgba(92, 92, 92, 0.1);  /*스크롤바 뒷 배경 색상*/
}

.auth-title{
  position: absolute;
  left: 35px;
  top: 10px;
  color:#414141;
  text-align: left;
  line-height: 11px;
}

/*회원가입*/
.auth_warp {
  position: absolute;
  color: #414141;
  box-sizing: border-box;
  top: 70px;
  width : 300px;
}


/*auth_content*/
.auth_items{
  height:85px;
}
.auth_items_type{
  height: 180px;
}
.auth_text{
  line-height: 14px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  margin:2px 38px;
  width:440px;
  word-break:keep-all;
}
.text_bar{
  display:inline-block;
  width:440px;
  padding: 0 10px;
  border-left: 2px solid #414141;
}
.text_bar.fail {
  border-left: 2px solid #FF0000;
}
.textinput {
  border:none;
  outline: none;
  background: transparent;
  color:#414141;
  font-size: 14px;
  margin: 12px 16px;
}
.auth_content {
  float:left;
  width: 240px;
  height: 40px;
  margin: 5px 28px;
  line-height: 40px;
  border: 2px solid #414141;
  border-radius: 10px;
  color:#414141;
}
.auth_content.fail {
  color : #FF0000;
  border: 2px solid #FF0000;
}

.start_btn{
  width: 195px;
  height: 40px;
  margin: 10px 50px;
  background: #FFFFFF;
  border-radius: 6px;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 29px;
  color: #414141;
  cursor: pointer;
}
.start_btn.fail {
  color : #FF0000;
  border: 2px solid #FF0000;
  background: #FFFFFF;
}

/* 라디오 버튼 */
.auth-check-sex {
  position: relative;
  margin: 10px 30px;
  display: flex;
}
.auth-check-sex input[type="radio"]{
  display: none;
}

.auth-check-sex input[type="radio"] + label[for="man"]{
  display:inline-block;
  width: 50px;
  height: 25px;
  color:#919191;
  text-align: center;
  line-height: 25px;
  box-shadow: 0 0 0 2px #fff3da;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  cursor: pointer;
}
.auth-check-sex input[type="radio"] + label[for="woman"]{
  display:inline-block;
  width: 50px;
  height: 25px;
  color:#919191;
  text-align: center;
  line-height: 25px;
  box-shadow: 0 0 0 2px #fff3da;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  cursor: pointer;
}
.auth-check-sex input[type="radio"]:checked + label{
  display:inline-block;
  width: 50px;
  height: 25px;
  color:#414141;
  text-align: center;
  line-height: 25px;
  background-color: #FED06E;
}

/* 체크박스 버튼 */
.select-type{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 270px;
  margin-left: 15px;
}

.check-type{
  width: 90px;
  position: relative;
}

.check-type input[type="checkbox"]{
  display: none;
}

.check-type input[type="checkbox"] + label{
  display:inline-block;
  width: 70px;
  height: 25px;
  margin: 10px;
  text-align: center;
  line-height: 25px;
  box-shadow: 0 0 0 2px #fff3da;
  border-radius: 100px;
  cursor: pointer;
}

.check-type input[type="checkbox"]:checked + label{
  display:inline-block;
  width: 70px;
  height: 25px;
  margin: 10px;
  text-align: center;
  line-height: 25px;
  background-color: #FED06E;
  box-shadow: 0 0 0 2px #FED06E;
  border-radius: 100px;
  cursor: pointer;
}
