.auth-content{
  width: 300px;
  height: 500px;
  background-color: #ffe09d;
  border-radius: 25px;
  position:absolute;
  top:330px;
  left:50%;
  margin:-200px 0 0 -150px;
  box-shadow: 0 10px 10px -5px rgb(68, 68, 68);
}

.auth-title{
  position: absolute;
  left: 35px;
  top: 20px;
  width: 100px;
  color:#414141;
  text-align: left;
  line-height: 11px;
}

/*회원가입*/
.auth_warp {
  position: absolute;
  color: #414141;
  box-sizing: border-box;
  top: 100px;
  width : 440px;
}


/*auth_content*/
.auth_items{
  height:85px;
}
.auth_text{
  line-height: 14px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  margin:2px 40px;
  width:440px;
  word-break:keep-all;
}
.text_bar{
  display:inline-block;
  width:120px;
  padding: 0 10px;
  border-left: 2px solid #414141;
}
.text_bar.fail {
  border-left: 1px solid #FF0000;
}
.textinput {
  border:none;
  outline: none;
  background: transparent;
  color:#414141;
  font-size: 14px;
  margin: 12px 16px;
}
.auth_content {
  float:left;
  width: 240px;
  height: 40px;
  margin: 5px 28px;
  line-height: 40px;
  border: 2px solid #414141;
  border-radius: 10px;
  color:#414141;
}
.auth_content.fail {
  color : #FF0000;
  border: 2px solid #FF0000;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.subtitle{
  position:absolute;
  bottom: 80px;
  margin:10px 20px 0 50px;
}

.start_btn{
  position:absolute;
  left: 50px;
  bottom: 20px;
  width: 195px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 6px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 29px;
  color: #414141;
  cursor: pointer;
}
.start_btn.fail {
  color : #FF0000;
  border: 2px solid #FF0000;
  background: #FFFFFF;
}