.browser-list{
	position:fixed;
	left: 20px;
	top: 75px;
  width: 350px;
	height: 86.5vh;
	background-color: white;
	border-radius: 15px;
	box-shadow: 5px 5px 10px #949494;
	z-index: 999;
}

/* 두개 버튼 */
.browser-select-content{
  display : flex;
  justify-content:space-around;
  flex-wrap: wrap;
  height: 70px;
  line-height: 50px;
  margin: 0;
}

.browser-select-word{
  width: 150px;
  height: 10px;
  text-align: center;
  cursor: pointer;;
}

.browser-select-word.cate{
  color:#949494;
}

.browser-select{
  width: 140px;
  height: 5px;
  border-radius: 5px;
}

.browser-select.cate{
  background-color: rgb(255, 255, 255);
}

.browser-select.chatbot{
  background-color: #FED06E;
}

/* Check.js */
.check{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.check-cate{
  width: 100px;
  position: relative;
}

.check-cate input[type="checkbox"]{
  display: none;
}

.check-cate input[type="checkbox"] + label{
  display:inline-block;
  width: 80px;
  height: 25px;
  margin: 10px;
  text-align: center;
  line-height: 25px;
  box-shadow: 0 0 0 2px #ffe8b6;
  border-radius: 100px;
}

.check-cate input[type="checkbox"]:checked + label{
  display:inline-block;
  width: 80px;
  height: 25px;
  margin: 10px;
  text-align: center;
  line-height: 25px;
  background-color: #FED06E;
  box-shadow: 0 0 0 2px #FED06E;
  border-radius: 100px;
}

.keyword{
  position: absolute;
  left: 20px;
}

.plu-miu{
  position: absolute;
  right: 20px;
  line-height: 20px;
}