.browser-list{
	position:fixed;
	left: 20px;
	top: 75px;
  width: 350px;
	height: 86.5vh;
	background-color: white;
  border: 1px solid #949494;
	border-radius: 15px;
	box-shadow: 5px 5px 10px #949494;
	z-index: 1;
}

/* 두개 버튼 */
.browser-select-content{
  display : flex;
  justify-content:space-around;
  flex-wrap: wrap;
  align-items: center;
  height: 60px;
  line-height: 30px;
  margin: 0;
}

.browser-select-word{
  width: 150px;
  height: 10px;
  text-align: center;
  cursor: pointer;
}

.browser-select-word.cate{
  color:#949494;
}

.browser-select{
  width: 140px;
  height: 5px;
  border-radius: 5px;
}

.browser-select.cate{
  background-color: rgb(255, 255, 255);
}

.browser-select.chatbot{
  background-color: #FED06E;
}

/* 모달 */
.modal{
  margin: 0 10px 10px 10px;
  padding: 5px;
  cursor: pointer;
  border: 2px #949494 solid;
  border-radius: 10px;
}

.modal-area-img{
  width: 17px;
  margin-right: 5px;
}

.modal-type-img{
  width: 17px;
  height: 18px;
  margin-right: 5px;
}

/* 로그인 안 했을 때 */
.please-login{
  margin: 30%;
}