.store-check-list {
  margin-top: 5px;
  width: 350px;
  height: 466px;
  overflow-x: hidden;
}
.store-check-list::-webkit-scrollbar {
  width: 8px;
}

.store-check-list::-webkit-scrollbar-thumb {
  height: 30%;
  background-color: #bbbbbb;
  border-radius: 10px;
}

.store-check-list::-webkit-scrollbar-track {
  background: rgba(92, 92, 92, 0.1); /*스크롤바 뒷 배경 색상*/
}

.check {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
