.browser-mypage{
  display: flex;
  width: 60vw;
  height: 500px;
  position:absolute;
  top: 150px;
  left: 20vw;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  /* box-shadow: 0px -5px 20px #454545; */
}

.mypage-info{
  margin: 10px 50px;
  width: 300px;
}

.mypage-rabbit-logo{
  height: 150px;

  animation-name: logo;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes logo {
  from {
    padding-top: 15px;
  }
  60% {
    padding-top: 25px
  }
  to {
    padding-top: 30px;
  }
}

.mypage-content{
  padding: 50px 10px;
}
.mypage-myinfo{
  margin: 10px 40px;
}
.logout-btn{
  width: 100px;
  padding: 10px;
  text-align: center;
  color: #414141;
  border: none;
  background-color: inherit;
  text-decoration: underline;
  font-weight: 1000;
  margin: 90px;
}

/* 로그 */
.mypage-log{
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
}
/* 클릭한 식당 */
.mypage-click-log{
  width: 300px;
  margin: 0 50px;
}
.mypage-log-list{
  width: 350px;
	height: 450px;
  padding: 10px;
	background-color: white;
  border: 1px solid #949494;
	border-radius: 15px;
	box-shadow: 1px 1px 3px #949494;
	margin: 10px 0;
  overflow-x: hidden;
}

.mypage-log-list::-webkit-scrollbar {
  width: 8px;
  margin-right: 10px;
}

.mypage-log-list::-webkit-scrollbar-thumb {
  height: 30%;
  background-color: #bbbbbb;
  border-radius: 10px;
}

.mypage-log-list::-webkit-scrollbar-track {
  background: rgba(92, 92, 92, 0.1); 
}

/* 좋아요한 식당 */
.mypage-like-log{
  width: 300px;
}