.browser-detail{
  width:800px;
  margin:auto;
  margin-top: 70px;
  text-align: center;
}

.store-detail-title{
  font-size: 40px;
  border-top: 5px #FED06E solid;
}

/* 두번째 구역(사진, 지도) */
.store-detail-second{
  display:flex;
  margin-top: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.store-detail-img{
  width: 300px;
}


.store-detail-tag{
  border-radius: 10%;
  font-weight: 700;
  font-size: 9px;
  line-height: 16px;
  text-align: center;
  margin-right: 5px;
  color: white;
  padding: 3px 10px;
  display: inline-block;
  cursor: pointer;
}

/* 세번째 구역(정보, 리뷰) */
.store-detail-third{
  display: flex;
  justify-content:space-between;
}

.store-detail-info{
  margin-top: 20px;
  white-space: pre-line;
  padding: 20px;
  text-align: left;
  width: 350px;
	height: 200px;
	background-color: white;
  border: 1px solid #949494;
	border-radius: 15px;
	box-shadow: 1px 1px 3px #949494;
}

.store-info-title{
  font-size: 18px;
  border-bottom: 2px rgb(112, 112, 112) solid;
  margin: 10px  0;
}