.browser-store-list {
  margin: 0;
  width: 350px;
  height: 405px;
  overflow-x: hidden;
}
.browser-store-list::-webkit-scrollbar {
  width: 8px;
}

.browser-store-list::-webkit-scrollbar-thumb {
  height: 30%;
  background-color: #bbbbbb;
  border-radius: 10px;
}

.browser-store-list::-webkit-scrollbar-track {
  background: rgba(92, 92, 92, 0.1);  /*스크롤바 뒷 배경 색상*/
}

.search-bar {
  position: relative;
  width: 316px;
  height: 36px;
  border-radius: 10px;
  align-items: center;
  margin: 0 auto;
  background: rgba(217, 217, 217, 0.08);
  z-index: 1000;
}
.search-bar.success{
  border: 4px solid #FED06E;
}
.search-bar.fail{
  border: 4px solid #b1b1b1;
}

.search-icon {
  position: absolute;
  top: 4px;
  right: 9px;
  width: 30px;
  cursor: pointer;
}

.search {
  position: absolute;
  background-color: transparent;
  left: 10px;
  width: 260px;
  height: 40px;
  border: none;
  top:50%;
  line-height: 100%;
  transform: translateY(-50%);
}

.search:focus {
  outline: none;
}

.search:focus::placeholder {
  opacity: 0;
}

.search::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}